<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 mt-5">
        <div class="card ">
            <h1 class="text-center mt-4">Login</h1>
            <form #LoginForm="ngForm"  (ngSubmit)="OnLogin()" class="card-body">

                <div class="form-group">
                    <label>Email</label>
                    <input type="text" 
                    class="form-control"
                    [ngClass]="email.errors && email.touched? 'is-invalid' : ''"
                    name="email"
                    #email="ngModel"
                    [(ngModel)]="login.email"
                    required
                    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"                  
                    >

                    <div [hidden]="!email.errors?.['required']" class="invalid-feedback">Email is required!</div>

                <div [hidden]="!email.errors?.['pattern']" class="invalid-feedback">Invalid email!</div>
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input 
                    type="{{ showPassword ? 'text' : 'password' }}" 
                    class="form-control"
                    [ngClass]="password.errors && password.touched? 'is-invalid' : ''"
                    name="password"
                    #password="ngModel"
                    [(ngModel)]="login.password"
                    autocomplete="off"
                    required
                    >
                    
                    <div [hidden]="!password.errors?.['required']" class="invalid-feedback">Password is required!</div>

                    <input type="checkbox" class="mt-3 mx-1" (click)="togglePassword()">Show Password

                </div>

                <button class="btn btn-block btn-outline-dark mt-4" [disabled]="LoginForm.invalid">Login</button>
            </form>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
